<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ScheduleOn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" herf="styles/fonts.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/styles.css" />
</head>
<body>
    <header>
		<img class="top-symbol" src="img/top.png"/>
		<div class="container">
			<nav>
				<div class="hamburger mobile">
                    <div class="one" ></div>
                    <div class="two" ></div>
                    <div class="three" ></div>
                </div>
				<h1 class="navbar-brand">ScheduleOn</h1>
				<ul class="desktop">
					<li>Home</li>
					<li>About</li>
					<li>Gallery</li>
					<button class="button is-light">LOGIN</button>
					<button class="button is-primary">SIGN UP</button>
				</ul>
			</nav>
		</div>
	</header>  
	<div class="container">
		<div class="hero">
			<div class="content">
				<h1 class="title">Time tables and Schedules for all your needs.</h1>
				<p class="subtitle">ScheduleOn is optimized for both Schools and Colleges, and provides you all features that you need to manage your time tables and schedules. </p>
				<button class="button is-primary is-long">Try ScheduleOn for free.</button>
			</div>
			<img src="img/undraw_teaching_f1cm.svg" />
		</div>
	</div>
    <!-- <img class="middle-symbol" src="img/middle.png"/>
    <img class="backdrop-symbol" src="img/backdrop.png"/> -->
</body>
</html>